html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
  font-family: Raleway, Helvetica, sans-serif;
}

body {
  color: white;
  background-color: black;
}

h1 {
  font-weight: 300;
}

#main-container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

/***** Card Panel *****/

#card-panel {
  display: flex;
  flex-flow: column;
  flex-basis: 65vw;
  order: 0;
}

header {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0px 40px;
}

#search-bar {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  background-color: white;
  color: #717171;
  border-radius: 15px;
  width: 40px;
  height: 40px;
  align-items: center;
  transition: transform 0.1s ease, width 0.4s ease;
  overflow-x: hidden;
}

#search-bar:hover {
  cursor: pointer;
  width: 180px;
}

#search-icn {
  margin-left: 10px;
  width: 20px;
  height: 20px;
}

#search-text {
  margin: 0 50px 0 20px;
}

#search-form-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.4s ease;
  z-index: 999;
  /* backdrop-filter not compatible with firefox */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

#search-form {
  position: relative;
  display: flex;
  flex-flow: column;
  border-radius: 10px;
  background-color: white;
  color: black;
  padding: 20px;
  z-index: 9999;
}

#search-form > * {
  margin: 8px 0px;
}

#search-form label {
  font-size: 18px;
}

#search-form input {
  font-size: 16px;
}

#search-form input[type='text'] {
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 5px;
}

#search-form select {
  font-size: 14px;
}

#search-btn {
  margin: 40px 0 5px 0;
  align-self: center; 
  letter-spacing: 1px;
}

#card-container {
  flex-basis: 100%;
  overflow: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.starter-text {
  align-self: center;
  opacity: 0.7;
  font-size: 22px;
}

.card {
  margin: 15px;
  max-height: 100%;
  border-radius: 14px;
  flex-basis: 250px;
  transition: transform 0.2s ease;
  max-width: max-content;
}

.card:hover {
  transform: scale(1.1);
  cursor: help;
}

#page-btn-container {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.page-btn {
  margin: 20px 20px 30px 20px;
  border-bottom: 1px solid transparent;
}

.page-btn:hover {
  cursor: pointer;
  border-color: white;
}

.page-btn:active {
transform: translateY(1px);
}

.page-btn.left {
  text-align: right;
}

/***** Detail Panel *****/

#detail-panel {
  position: relative;
  flex-basis: 35vw;
  border-left: 2px solid rgba(255, 255, 255, 0.1);
}

#detail-view-btn {
  position: absolute;
  height: 40px;
  width: 40px;
  background-image: url(./images/deck-icon-black.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75%;
  top: 20px;
  right: 25px;
  transition: transform 0.2s ease;
  background-color: white;
  border-radius: 13px;
}

#detail-view-btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#detail-container {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  padding: 0px 20px;
  height: 100%;
  box-sizing: border-box;
}

#detail-container.hidden {
  display: none;
}

#detail-container h1 {
  position: absolute;
  top: 0;
}

.detail-card {
  width: 60%;
  max-width: 400px;
  border-radius: 14px;
}

.info-container {
  max-width: 600px;
}

#deck-container {
  padding: 0px 20px;
}

#deck-container h1 {
  text-align: center;
}

#deck {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  max-width: 600px;
  margin: 0 auto;
}

.listing {
  color: black;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.listing:nth-child(even) {
  background-color: lightgrey;
}

.crement-btn {
  position: relative;
  border: 2px solid transparent;
  margin: 0px 5px;
  border-radius: 4px;
  vertical-align: text-top;
  padding: 0px 8px;
  color: white;
  font-size: 16px;
}

.crement-btn:active {
  transform: translateY(2px);
  filter: saturate(60%)
}

.crement-remove {
  background-color: #df2e2e;
}

.crement-remove:hover {
  color: #df2e2e;
  border-color: #df2e2e;
  background-color: white;
}

.crement-add {
  background-color: #3591c6;
}

.crement-add:hover {
  color: #3591c6;
  border-color: #3591c6;
  background-color: white;
}

.card-preview {
  display: none;
  position: absolute;
  z-index: 999;
  border-radius: 14px;
  right: 0px;
  transform: translateY(-50px);
}

.listing-name:hover .card-preview {
  display: unset;
}

#test-hand-btn {
  width: 100px;
  margin: 15px auto;
  text-align: center;
}

#test-hand-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.4s ease;
  z-index: 999;
  /* backdrop filter not compatible with firefox */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

#test-hand {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  border-radius: 10px;
  background-color: white;
  color: black;
  padding: 20px;
  width: 90vw;
  max-height: 80vh;
  z-index: 9999;
}

#test-hand img {
  border-radius: 12px;
  margin: 5px;
}

/***** general *****/

.btn {
  border: 2px solid transparent;
  border-radius: 8px;
  padding: 5px 20px;
  margin: 10px;
  font-size: 18px;
  background-color: #3591c6;
  color: white;
  transition: transform 0.2s ease;
}

.btn:hover {
  background-color: white;
  border-color: #3591c6;
  color: #3591c6;
}

.btn:active {
  transform: translateY(2px);
  filter: saturate(60%);
}

.hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
  max-height: 0px;
}

/* Star Background */
/* https://codepen.io/WebSonick/pen/vjmgu */
/* ============================================================================================== 
SED Innovations
https://sed.am
https://mkrtchyan.ga
================================================================================================= */

@keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
  from {background-position: 0 0;}
  to {background-position: -10000px 5000px;}
}
@-moz-keyframes move-twink-back {
  from {background-position: 0 0;}
  to {background-position: -10000px 5000px;}
}
@-ms-keyframes move-twink-back {
  from {background-position: 0 0;}
  to {background-position: -10000px 5000px;}
}

@keyframes move-clouds-back {
  from {background-position: 0 0;}
  to {background-position: 10000px 0;}
}
@-webkit-keyframes move-clouds-back {
  from {background-position: 0 0;}
  to {background-position: 10000px 0;}
}
@-moz-keyframes move-clouds-back {
  from {background-position: 0 0;}
  to {background-position: 10000px 0;}
}
@-ms-keyframes move-clouds-back {
  from {background-position: 0;}
  to {background-position: 10000px 0;}
}

.stars, .twinkling, .clouds {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.stars {
  background: #000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index: -101;
}

.twinkling {
  background: transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index: -100;

  -moz-animation: move-twink-back 200s linear infinite;
  -ms-animation: move-twink-back 200s linear infinite;
  -o-animation: move-twink-back 200s linear infinite;
  -webkit-animation: move-twink-back 200s linear infinite;
  animation: move-twink-back 200s linear infinite;
}

.clouds{
  background: transparent url(./images/clouds.png) repeat-x top center;
  z-index: -99;

  -moz-animation: move-clouds-back 200s linear infinite;
  -ms-animation: move-clouds-back 200s linear infinite;
  -o-animation: move-clouds-back 200s linear infinite;
  -webkit-animation: move-clouds-back 200s linear infinite;
  animation: move-clouds-back 200s linear infinite;
}

/***** Responsive Styling *****/

@media screen and (max-width: 600px) {

  h1 {
    font-size: 28px;
  }

  header {
    padding: 0px 25px;
  }

  #main-container {
    flex-flow: column;
    /* height: auto; */
  }

  .starter-text {
    margin: 0 auto;
  }

  #card-panel {
    flex-basis: 40vh;
    max-height: 40vh;
    min-height: 40vh;
  }

  #search-form {
    max-width: 80vw;
  }

  #card-container {
    flex-flow: row;
    justify-content: flex-start;
  }

  #detail-panel {
    order: 1;
    flex-basis: unset;
    border-left: none;
    border-top: 2px solid rgba(255, 255, 255, 0.1);
  }

  #detail-panel h1 {
    position: unset;
    margin: 25px 0 15px 0;
  }

  .info-container {
    max-width: 80%;

  }
  .info-container p {
    font-size: 12px;
    margin: 3px 0px;
  }

  #test-hand {
    overflow-y: auto;
    max-width: 80vw;
  }

  #test-hand img {
    width: 45%;
  }
}